# =========================
# Visual Studio
# =========================
.vs/

# =========================
# Build folders
# =========================
**/bin/
**/obj/

# =========================
# User-specific files
# =========================
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Logs
# =========================
*.log

# =========================
# Visual Studio cache
# =========================
*.cache
*.pdb

# =========================
# ReSharper / Rider
# =========================
_ReSharper*/
*.DotSettings.user

# =========================
# NuGet
# =========================
packages/

# =========================
# Publish output
# =========================
publish/

# =========================
# Temporary files
# =========================
*.tmp
*.temp

# =========================
# Windows thumbnails
# =========================
Thumbs.db
Desktop.ini